<ion-header translucent>
  <ion-toolbar color="tertiary">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="dark">
  <ion-searchbar placeholder="Buscar Pokemon" color="medium"></ion-searchbar>

  <ion-item-sliding *ngFor="let pokemon of listarPokemons">

    <ion-item color="dark">

      <ion-chip slot="start">
        <ion-label> {{pokemon.id}} </ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2> {{pokemon.name}} </h2>
          <ion-badge *ngFor="let tipoPokemon of pokemon.types" color="" > {{tipoPokemon.type.name}} </ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img [src]="pokemon.sprites.front_default" alt="Foto">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
      <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>




</ion-content>

<ion-footer>
   <ion-toolbar color="tertiary" class="ion-text-center">
    <ion-buttons slot="start" *ngIf="pagina > 1">
      <ion-button (click)="buscarPokemons(pagina - 1)">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    Página: {{pagina}}

    <ion-buttons slot="end" *ngIf="pagina < totalPaginas">
      <ion-button (click)="buscarPokemons(pagina + 1)">
        <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

   </ion-toolbar>
</ion-footer>
